@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --color-black: #000;
    --text-color: #333;
    --color-white: #fff;

    //Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFont-Regular', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,input,[tabindex],select,textarea{
    outline: none;
    border: none;
    font-family: 'TikTokFont-Regular', sans-serif;
}
a[href]{
    color: var(--text-color);
    text-decoration: none;
}
//Font chữ
@font-face {
    font-family: IBM;
    src: url('/assets/font/IBM.woff2');
}
@font-face {
    font-family: TikTokDisplayFont-Bold;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
}
@font-face {
    font-family: TikTokFont-Regular;
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: IBM-600;
    src: url('/assets/font/IBM-600.woff2');
    font-weight: 600;
}


//Tippy
body .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2rem;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 4px 6px;
    top: -10px;
}
.tippy-arrow {
    display: block;
    top: -8px;
    color: rgba(84, 84, 84, 0.92);
}