.content{
    width: 224px;
    padding: 8px 0px;

    .menu-item{
        display: flex;
        background-color: transparent;
        font-size: 1.6rem;
        color: var(--color-black);
        padding: 10px 8px 10px 16px;
        width: 100%;
        cursor: pointer;

        &:hover{
            background: rgba(22, 24, 35, 0.03);
        }
    }
}