.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    &:hover{
      background-color: rgba(22, 24, 35, 0.03);
      cursor: pointer;
      padding: 9px 16px;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 8px;
    line-height: 1.1;
}
.name {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 500;
}
.username {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: rgba(22, 24, 35, 0.5);
}
.check-icon {
    color: rgb(32, 213, 236);
    margin-left: 6px;
    font-size: 1.2rem;
}
